#app button {
    padding: 0;
    width: auto;
    min-height: initial;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
}

.v-navigation-drawer {
    top: 50px !important;
}

#app h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0;
    line-height: initial;
    color: inherit;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

#app input {
    margin: 0;
    font-size: inherit;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    flex: 1 1 auto;
    line-height: 20px;
    padding: 8px 0 8px;
    max-width: 100%;
    min-width: 0;
    width: 100%;
}

#app nav[role='navigation'] {
    display: block;
    width: auto;
    height: auto;
    margin-left: 0;
    position: relative;
}

#app {
    width: 100%;
}

#app .ql-editor:active  {
    background-color: transparent;
}