#apps {
    display: flex;
    padding-top: 70px;
    height: 100%;
    justify-content: center;
}

.apps-container {
    position: relative;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 15px 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 15px;
    background: var(--color-mode-2);
    box-shadow: 2px 2px 3px rgb(55 84 170 / 15%),
        2px 2px 3px rgb(55 84 170 / 15%),
        7px 7px 15px rgb(55 84 170 / 15%),
        -7px -7px 20px rgb(0 0 0 / 10%);
    transition: 0.5s;
    border: 2px solid var(--color-mode-4);
}

#App.dark .apps-container {
    box-shadow: 0 -5px 5px hsl(0deg 0% 100% / 5%);
}

.apps-container.hidden {
    transform: translateX(340px);
}

.apps-block {
    height: calc(100% - 50px);
    width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: 20%;
    grid-auto-flow: dense;
    grid-gap: 0 10px;
}

.apps-content-main {
    text-decoration: none;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-radius: 0.25rem;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    border-color: var(--color-primary-category);
    background-color: var(--color-primary-category);
    color: var(--color-mode-2);
    transition: 0.3s;
    box-shadow: var(--color-mode-shadow-1) 0px 3px 1px -2px,
        var(--color-mode-shadow-2) 0px 2px 2px 0px,
        var(--color-mode-shadow-3) 0px 1px 5px 0px;
}

.apps-header {
    color: var(--color-mode-contrast-1);
    justify-content: center;
    display: flex;
    text-align: center;
    grid-area: Title;
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 1;
}

.apps-icon {
    margin-top: 7%;
    font-size: 2.5em;
    padding: 5px 0 10px 0;
}

.apps-title {
    width: 100%;
    font-weight: 600;
}

#apps-update-btn svg {
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.5rem;
}

.apps-update-indicator {
    position: absolute;
    opacity: 0;
    right: 6px;
    margin: 0;
    width: max-content;
    z-index: 100;
}

@media (max-width: 1350px) {
    .apps-title {
        line-height: 1.25;
    }

    .apps-title {
        font-size: 11px;
    }

    .apps-header {
        font-size: 25px;
    }

    #news-frame {
        grid-template-columns: calc(100% - 210px) 200px !important;
    }

    .apps-block {
        grid-template-columns: 100%;
        grid-auto-rows: 10%;
    }

    .apps-content-main {
        display: flex;
    }

    .apps-icon {
        font-size: 2em;
        padding: 5px 0 5px 0;
        margin-top: 0;
    }
}

#App:not([isonsite]) #apps {
    display: none;
}

@media (max-width: 780px) {
    #apps {
        display: none;
    }
}


@media (max-height:600px) {
    .apps-title {
        line-height: 1.25;
        font-size: 11px;
    }
}

@media (max-height:800px) {
    .apps-icon {
        margin-top: 0;
    }
}

@media (max-height:680px) {
    .apps-content-main .b-icon {
        display: none;
    }
}

.apps-content-main:nth-child(1n + 5) {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
}

.apps-content-main:hover {
    cursor: pointer;
    border-color: var(--color-mode-contrast-1);
    background-color: var(--color-secondary-light);
    color: var(--color-mode-contrast-1);
}

.apps-content-main:hover .apps-update-indicator {
    opacity: 1;
}